<a href="https://colab.research.google.com/github/MichalWlodkowski/US_speeches/blob/master/nlp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!pip install scrapy
from scrapy import Selector
import requests
import numpy as np
import pandas as pd
import re

from nltk.tokenize import sent_tokenize
from nltk.tokenize import word_tokenize
from nltk.tokenize import regexp_tokenize

Collecting scrapy
  Downloading https://files.pythonhosted.org/packages/e0/b7/06c19d7d7f5318ffd1d31d7cd7d944ed9dcf773981c731285350961d9b5c/Scrapy-2.0.1-py2.py3-none-any.whl (242kB)
     |████████████████████████████████| 245kB 2.8MB/s
Collecting pyOpenSSL>=16.2.0
  Downloading https://files.pythonhosted.org/packages/9e/de/f8342b68fa9e981d348039954657bdf681b2ab93de27443be51865ffa310/pyOpenSSL-19.1.0-py2.py3-none-any.whl (53kB)
     |████████████████████████████████| 61kB 6.5MB/s
Collecting queuelib>=1.4.2
  Downloading https://files.pythonhosted.org/packages/4c/85/ae64e9145f39dd6d14f8af3fa809a270ef3729f3b90b3c0cf5aa242ab0d4/queuelib-1.5.0-py2.py3-none-any.whl
Collecting zope.interface>=4.1.3
  Downloading https://files.pythonhosted.org/packages/46/16/38b97756deceb091800de76d5075b898b2b167f4b1f14d041f099daeab35/zope.interface-5.0.2-cp36-cp36m-manylinux2010_x86_64.whl (226kB)
     |████████████████████████████████| 235kB 9.0MB/s
Collecting cssselect>=0.9.1
  Downloading https://files.pythonhosted.org/packages/3b/d4/3b5c17f00cce85b9a1e6f91096e1cc8e8ede2e1be8e96b87ce1ed09e92c5/cssselect-1.1.0-py2.py3-none-any.whl
Collecting cryptography>=2.0
  Downloading https://files.pythonhosted.org/packages/8f/2d/29d2638b8df016526182594166c220913dafba3da0019b0776ff1bbc8ede/cryptography-2.9-cp35-abi3-manylinux2010_x86_64.whl (2.7MB)
     |████████████████████████████████| 2.7MB 11.9MB/s
Collecting service-identity>=16.0.0
  Downloading https://files.pythonhosted.org/packages/e9/7c/2195b890023e098f9618d43ebc337d83c8b38d414326685339eb024db2f6/service_identity-18.1.0-py2.py3-none-any.whl
Collecting w3lib>=1.17.0
  Downloading https://files.pythonhosted.org/packages/6a/45/1ba17c50a0bb16bd950c9c2b92ec60d40c8ebda9f3371ae4230c437120b6/w3lib-1.21.0-py2.py3-none-any.whl
Requirement already satisfied: lxml>=3.5.0 in /usr/local/lib/python3.6/dist-packages (from scrapy) (4.2.6)
Collecting protego>=0.1.15
  Downloading https://files.pythonhosted.org/packages/db/6e/bf6d5e4d7cf233b785719aaec2c38f027b9c2ed980a0015ec1a1cced4893/Protego-0.1.16.tar.gz (3.2MB)
     |████████████████████████████████| 3.2MB 27.4MB/s
Collecting PyDispatcher>=2.0.5
  Downloading https://files.pythonhosted.org/packages/cd/37/39aca520918ce1935bea9c356bcbb7ed7e52ad4e31bff9b943dfc8e7115b/PyDispatcher-2.0.5.tar.gz
Collecting Twisted>=17.9.0
  Downloading https://files.pythonhosted.org/packages/b7/04/1a664c9e5ec0224a1c1a154ddecaa4dc7b8967521bba225efcc41a03d5f3/Twisted-20.3.0-cp36-cp36m-manylinux1_x86_64.whl (3.1MB)
     |████████████████████████████████| 3.1MB 47.7MB/s
Collecting parsel>=1.5.0
  Downloading https://files.pythonhosted.org/packages/86/c8/fc5a2f9376066905dfcca334da2a25842aedfda142c0424722e7c497798b/parsel-1.5.2-py2.py3-none-any.whl
Requirement already satisfied: six>=1.5.2 in /usr/local/lib/python3.6/dist-packages (from pyOpenSSL>=16.2.0->scrapy) (1.12.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from zope.interface>=4.1.3->scrapy) (46.0.0)
Requirement already satisfied: cffi!=1.11.3,>=1.8 in /usr/local/lib/python3.6/dist-packages (from cryptography>=2.0->scrapy) (1.14.0)
Requirement already satisfied: attrs>=16.0.0 in /usr/local/lib/python3.6/dist-packages (from service-identity>=16.0.0->scrapy) (19.3.0)
Requirement already satisfied: pyasn1 in /usr/local/lib/python3.6/dist-packages (from service-identity>=16.0.0->scrapy) (0.4.8)
Requirement already satisfied: pyasn1-modules in /usr/local/lib/python3.6/dist-packages (from service-identity>=16.0.0->scrapy) (0.2.8)
Collecting PyHamcrest!=1.10.0,>=1.9.0
  Downloading https://files.pythonhosted.org/packages/40/16/e54cc65891f01cb62893540f44ffd3e8dab0a22443e1b438f1a9f5574bee/PyHamcrest-2.0.2-py3-none-any.whl (52kB)
     |████████████████████████████████| 61kB 7.9MB/s
Collecting hyperlink>=17.1.1
  Downloading https://files.pythonhosted.org/packages/7f/91/e916ca10a2de1cb7101a9b24da546fb90ee14629e23160086cf3361c4fb8/hyperlink-19.0.0-py2.py3-none-any.whl
Collecting incremental>=16.10.1
  Downloading https://files.pythonhosted.org/packages/f5/1d/c98a587dc06e107115cf4a58b49de20b19222c83d75335a192052af4c4b7/incremental-17.5.0-py2.py3-none-any.whl
Collecting Automat>=0.3.0
  Downloading https://files.pythonhosted.org/packages/dd/83/5f6f3c1a562674d65efc320257bdc0873ec53147835aeef7762fe7585273/Automat-20.2.0-py2.py3-none-any.whl
Collecting constantly>=15.1
  Downloading https://files.pythonhosted.org/packages/b9/65/48c1909d0c0aeae6c10213340ce682db01b48ea900a7d9fce7a7910ff318/constantly-15.1.0-py2.py3-none-any.whl
Requirement already satisfied: pycparser in /usr/local/lib/python3.6/dist-packages (from cffi!=1.11.3,>=1.8->cryptography>=2.0->scrapy) (2.20)
Requirement already satisfied: idna>=2.5 in /usr/local/lib/python3.6/dist-packages (from hyperlink>=17.1.1->Twisted>=17.9.0->scrapy) (2.8)
Building wheels for collected packages: protego, PyDispatcher
  Building wheel for protego (setup.py) ... done
  Created wheel for protego: filename=Protego-0.1.16-cp36-none-any.whl size=7765 sha256=610de8b029f74eb1f674fbdeae8b39285d0e0387852ce7b8f38df7003689b988
  Stored in directory: /root/.cache/pip/wheels/51/01/d1/4a2286a976dccd025ba679acacfe37320540df0f2283ecab12
  Building wheel for PyDispatcher (setup.py) ... done
  Created wheel for PyDispatcher: filename=PyDispatcher-2.0.5-cp36-none-any.whl size=11515 sha256=6728e61ca17adad15890badc8f1f5510137322f6cb1a811f687cb14bf5b0ede4
  Stored in directory: /root/.cache/pip/wheels/88/99/96/cfef6665f9cb1522ee6757ae5955feedf2fe25f1737f91fa7f
Successfully built protego PyDispatcher
Installing collected packages: cryptography, pyOpenSSL, queuelib, zope.interface, cssselect, service-identity, w3lib, protego, PyDispatcher, PyHamcrest, hyperlink, incremental, Automat, constantly, Twisted, parsel, scrapy
Successfully installed Automat-20.2.0 PyDispatcher-2.0.5 PyHamcrest-2.0.2 Twisted-20.3.0 constantly-15.1.0 cryptography-2.9 cssselect-1.1.0 hyperlink-19.0.0 incremental-17.5.0 parsel-1.5.2 protego-0.1.16 pyOpenSSL-19.1.0 queuelib-1.5.0 scrapy-2.0.1 service-identity-18.1.0 w3lib-1.21.0 zope.interface-5.0.2

In [0]:
us_all = 'https://en.wikisource.org/wiki/Portal:Inaugural_Speeches_by_United_States_Presidents'

In [0]:
## Getting links to all presidential Inaugural Addresses in US

html = requests.get(us_all).content
sel = Selector( text = html )
xpath3 = '//@href'
d = pd.DataFrame(sel.xpath(xpath3).extract())
speech = d[d[0].str.contains('Inaugural_Address')].reset_index(drop = True)
speech.columns = ['links']

In [7]:
# Function to get president name from links + receiving full link for speeches
def frag(x):
    wh = x[6:x.find('%')].replace('_',' ')
    return wh
speech['president'] = speech['links'].apply(frag)
speech['full_links'] = speech['links'].apply(lambda x: 'https://en.wikisource.org' + x)
speech[['president','links','full_links']].head()

           president  ...                                         full_links
0  George Washington  ...  https://en.wikisource.org/wiki/George_Washingt...
1  George Washington  ...  https://en.wikisource.org/wiki/George_Washingt...
2         John Adams  ...  https://en.wikisource.org/wiki/John_Adams%27_I...
3   Thomas Jefferson  ...  https://en.wikisource.org/wiki/Thomas_Jefferso...
4   Thomas Jefferson  ...  https://en.wikisource.org/wiki/Thomas_Jefferso...

[5 rows x 3 columns]

In [0]:
plain_text = []

#for each in range(len(speech)-3,len(speech)):
for each in range(len(speech)):
    
    html = requests.get(speech.full_links.loc[each]).content
    sel = Selector (text = html)
    xpath3 = '//*[@class="mw-parser-output"]//p//text()'
    # Extract text from website + join in 1string + remove unwanted text and new lines
    text = ''.join(sel.xpath(xpath3).extract()).replace('\nThis work is in the public domain in the United States because it is a work of the United States federal government (see 17\xa0U.S.C.\xa0105).\n','')\
.replace('\n',' ')
    text_lines = ''.join(sel.xpath(xpath3).extract()).replace('\nThis work is in the public domain in the United States because it is a work of the United States federal government (see 17\xa0U.S.C.\xa0105).\n','')
    plain_text.append(text)

In [0]:
def hm_words(x):
    words = len(x.split())
    return words

def hm_ch_words(x):
    words_ch = round(np.mean([len(x) for x in x.split()]),2)
    return words_ch

def n_sentences(x):
    sent = len(x.split('.'))
    return sent

In [45]:
speeches = pd.DataFrame(plain_text, columns = ['speeches'])
speeches['characters'] = speeches.speeches.apply(len)
speeches['words'] = speeches.speeches.apply(hm_words)
speeches['ch_in_words'] = speeches.speeches.apply(hm_ch_words)
speeches['sentences'] = speeches.speeches.apply(n_sentences)

speeches['ch_in_sent'] = round(speeches['characters'] / speeches['sentences'],1)
speeches = pd.concat([speech['president'],speeches.iloc[:,1:]], axis = 1)
speeches['n'] = speeches.groupby('president').cumcount() + 1
speeches.tail(5)

         president  characters  words  ch_in_words  sentences  ch_in_sent  n
53  George W. Bush        9005   1586         4.68         84       107.2  1
54  George W. Bush       11918   2083         4.72        104       114.6  2
55    Barack Obama       13140   2328         4.64        109       120.6  1
56    Barack Obama       11954   2114         4.65         86       139.0  2
57    Donald Trump        8413   1456         4.78         96        87.6  1

In [53]:
double = speeches[speeches['n'] == 2].president
double_stats = speeches[(speeches['president'].isin(double))&speeches['n'].isin([1,2])].groupby('n').agg({'words':['mean','std'],'sentences':['mean','std'],\
                                                                                           'ch_in_sent':['mean','std'],'characters':['mean','std'],\
                                                                                           'ch_in_words':['mean','std']}).round(1).T
double_stats['diff'] = double_stats[2]-double_stats[1]
double_stats

n                       1        2    diff
words       mean   2084.3   1827.1  -257.2
            std     881.8    912.6    30.8
sentences   mean     80.4     71.4    -9.0
            std      40.5     37.3    -3.2
ch_in_sent  mean    177.6    161.5   -16.1
            std      76.5     55.7   -20.8
characters  mean  12090.0  10595.5 -1494.5
            std    5200.0   5385.9   185.9
ch_in_words mean      4.8      4.8     0.0
            std       0.2      0.2     0.0

In [54]:
double_stats2 = speeches[(speeches['president'].isin(double))&speeches['n'].isin([1,2])].groupby('n').agg({'words':['median','std'],'sentences':['median','std'],\
                                                                                           'ch_in_sent':['median','std'],'characters':['median','std'],\
                                                                                           'ch_in_words':['median','std']}).round(1).T
double_stats2['diff'] = double_stats2[2]-double_stats2[1]
double_stats2

n                         1        2   diff
words       median   1718.0   1800.0   82.0
            std       881.8    912.6   30.8
sentences   median     87.0     70.0  -17.0
            std        40.5     37.3   -3.2
ch_in_sent  median    161.8    139.4  -22.4
            std        76.5     55.7  -20.8
characters  median  10120.0  10582.0  462.0
            std      5200.0   5385.9  185.9
ch_in_words median      4.8      4.8    0.0
            std         0.2      0.2    0.0

In [57]:
speeches.groupby(['president']).median().sort_values('words', ascending = False).head()

                        characters   words  ...  ch_in_sent    n
president                                   ...
William Henry Harrison     49652.0  8424.0  ...       233.1  1.0
William Howard Taft        32119.0  5428.0  ...       199.5  1.0
James K. Polk              28695.0  4793.0  ...       195.2  1.0
Benjamin Harrison          26195.0  4392.0  ...       171.2  1.0
Calvin Coolidge            23946.0  4056.0  ...       121.6  1.0

[5 rows x 6 columns]