<a href="https://colab.research.google.com/github/MichalWlodkowski/US_speeches/blob/master/nlp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install scrapy
from scrapy import Selector
import requests
import numpy as np
import pandas as pd
import re

from nltk.tokenize import sent_tokenize
from nltk.tokenize import word_tokenize
from nltk.tokenize import regexp_tokenize

Collecting scrapy
  Downloading https://files.pythonhosted.org/packages/e0/b7/06c19d7d7f5318ffd1d31d7cd7d944ed9dcf773981c731285350961d9b5c/Scrapy-2.0.1-py2.py3-none-any.whl (242kB)
     |████████████████████████████████| 245kB 442kB/s
Collecting parsel>=1.5.0
  Downloading https://files.pythonhosted.org/packages/86/c8/fc5a2f9376066905dfcca334da2a25842aedfda142c0424722e7c497798b/parsel-1.5.2-py2.py3-none-any.whl
Collecting service-identity>=16.0.0
  Downloading https://files.pythonhosted.org/packages/e9/7c/2195b890023e098f9618d43ebc337d83c8b38d414326685339eb024db2f6/service_identity-18.1.0-py2.py3-none-any.whl
Collecting cssselect>=0.9.1
  Downloading https://files.pythonhosted.org/packages/3b/d4/3b5c17f00cce85b9a1e6f91096e1cc8e8ede2e1be8e96b87ce1ed09e92c5/cssselect-1.1.0-py2.py3-none-any.whl
Collecting Twisted>=17.9.0
  Downloading https://files.pythonhosted.org/packages/b7/04/1a664c9e5ec0224a1c1a154ddecaa4dc7b8967521bba225efcc41a03d5f3/Twisted-20.3.0-cp36-cp36m-manylinux1_x86_64.whl (3.1MB)
     |████████████████████████████████| 3.1MB 38.4MB/s
Collecting cryptography>=2.0
  Downloading https://files.pythonhosted.org/packages/8f/2d/29d2638b8df016526182594166c220913dafba3da0019b0776ff1bbc8ede/cryptography-2.9-cp35-abi3-manylinux2010_x86_64.whl (2.7MB)
     |████████████████████████████████| 2.7MB 25.5MB/s
Collecting protego>=0.1.15
  Downloading https://files.pythonhosted.org/packages/db/6e/bf6d5e4d7cf233b785719aaec2c38f027b9c2ed980a0015ec1a1cced4893/Protego-0.1.16.tar.gz (3.2MB)
     |████████████████████████████████| 3.2MB 33.6MB/s
Collecting w3lib>=1.17.0
  Downloading https://files.pythonhosted.org/packages/6a/45/1ba17c50a0bb16bd950c9c2b92ec60d40c8ebda9f3371ae4230c437120b6/w3lib-1.21.0-py2.py3-none-any.whl
Requirement already satisfied: lxml>=3.5.0 in /usr/local/lib/python3.6/dist-packages (from scrapy) (4.2.6)
Collecting PyDispatcher>=2.0.5
  Downloading https://files.pythonhosted.org/packages/cd/37/39aca520918ce1935bea9c356bcbb7ed7e52ad4e31bff9b943dfc8e7115b/PyDispatcher-2.0.5.tar.gz
Collecting zope.interface>=4.1.3
  Downloading https://files.pythonhosted.org/packages/46/16/38b97756deceb091800de76d5075b898b2b167f4b1f14d041f099daeab35/zope.interface-5.0.2-cp36-cp36m-manylinux2010_x86_64.whl (226kB)
     |████████████████████████████████| 235kB 31.8MB/s
Collecting queuelib>=1.4.2
  Downloading https://files.pythonhosted.org/packages/4c/85/ae64e9145f39dd6d14f8af3fa809a270ef3729f3b90b3c0cf5aa242ab0d4/queuelib-1.5.0-py2.py3-none-any.whl
Collecting pyOpenSSL>=16.2.0
  Downloading https://files.pythonhosted.org/packages/9e/de/f8342b68fa9e981d348039954657bdf681b2ab93de27443be51865ffa310/pyOpenSSL-19.1.0-py2.py3-none-any.whl (53kB)
     |████████████████████████████████| 61kB 8.2MB/s
Requirement already satisfied: six>=1.5.2 in /usr/local/lib/python3.6/dist-packages (from parsel>=1.5.0->scrapy) (1.12.0)
Requirement already satisfied: pyasn1 in /usr/local/lib/python3.6/dist-packages (from service-identity>=16.0.0->scrapy) (0.4.8)
Requirement already satisfied: attrs>=16.0.0 in /usr/local/lib/python3.6/dist-packages (from service-identity>=16.0.0->scrapy) (19.3.0)
Requirement already satisfied: pyasn1-modules in /usr/local/lib/python3.6/dist-packages (from service-identity>=16.0.0->scrapy) (0.2.8)
Collecting hyperlink>=17.1.1
  Downloading https://files.pythonhosted.org/packages/7f/91/e916ca10a2de1cb7101a9b24da546fb90ee14629e23160086cf3361c4fb8/hyperlink-19.0.0-py2.py3-none-any.whl
Collecting PyHamcrest!=1.10.0,>=1.9.0
  Downloading https://files.pythonhosted.org/packages/40/16/e54cc65891f01cb62893540f44ffd3e8dab0a22443e1b438f1a9f5574bee/PyHamcrest-2.0.2-py3-none-any.whl (52kB)
     |████████████████████████████████| 61kB 7.7MB/s
Collecting constantly>=15.1
  Downloading https://files.pythonhosted.org/packages/b9/65/48c1909d0c0aeae6c10213340ce682db01b48ea900a7d9fce7a7910ff318/constantly-15.1.0-py2.py3-none-any.whl
Collecting Automat>=0.3.0
  Downloading https://files.pythonhosted.org/packages/dd/83/5f6f3c1a562674d65efc320257bdc0873ec53147835aeef7762fe7585273/Automat-20.2.0-py2.py3-none-any.whl
Collecting incremental>=16.10.1
  Downloading https://files.pythonhosted.org/packages/f5/1d/c98a587dc06e107115cf4a58b49de20b19222c83d75335a192052af4c4b7/incremental-17.5.0-py2.py3-none-any.whl
Requirement already satisfied: cffi!=1.11.3,>=1.8 in /usr/local/lib/python3.6/dist-packages (from cryptography>=2.0->scrapy) (1.14.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from zope.interface>=4.1.3->scrapy) (46.1.3)
Requirement already satisfied: idna>=2.5 in /usr/local/lib/python3.6/dist-packages (from hyperlink>=17.1.1->Twisted>=17.9.0->scrapy) (2.8)
Requirement already satisfied: pycparser in /usr/local/lib/python3.6/dist-packages (from cffi!=1.11.3,>=1.8->cryptography>=2.0->scrapy) (2.20)
Building wheels for collected packages: protego, PyDispatcher
  Building wheel for protego (setup.py) ... done
  Created wheel for protego: filename=Protego-0.1.16-cp36-none-any.whl size=7765 sha256=23105675ab56ae582cd9d025732eafc10143ab6ff7e5763abcc9c6d779aa499f
  Stored in directory: /root/.cache/pip/wheels/51/01/d1/4a2286a976dccd025ba679acacfe37320540df0f2283ecab12
  Building wheel for PyDispatcher (setup.py) ... done
  Created wheel for PyDispatcher: filename=PyDispatcher-2.0.5-cp36-none-any.whl size=11515 sha256=562b87af503197a10b09896c1e130ba6709a855212694a3f86d9c89488d71a0d
  Stored in directory: /root/.cache/pip/wheels/88/99/96/cfef6665f9cb1522ee6757ae5955feedf2fe25f1737f91fa7f
Successfully built protego PyDispatcher
Installing collected packages: cssselect, w3lib, parsel, cryptography, service-identity, hyperlink, zope.interface, PyHamcrest, constantly, Automat, incremental, Twisted, protego, PyDispatcher, queuelib, pyOpenSSL, scrapy
Successfully installed Automat-20.2.0 PyDispatcher-2.0.5 PyHamcrest-2.0.2 Twisted-20.3.0 constantly-15.1.0 cryptography-2.9 cssselect-1.1.0 hyperlink-19.0.0 incremental-17.5.0 parsel-1.5.2 protego-0.1.16 pyOpenSSL-19.1.0 queuelib-1.5.0 scrapy-2.0.1 service-identity-18.1.0 w3lib-1.21.0 zope.interface-5.0.2

In [0]:
us_all = 'https://en.wikisource.org/wiki/Portal:Inaugural_Speeches_by_United_States_Presidents'

In [0]:
## Getting links to all presidential Inaugural Addresses in US

html = requests.get(us_all).content
sel = Selector( text = html )
xpath3 = '//@href'
d = pd.DataFrame(sel.xpath(xpath3).extract())
speech = d[d[0].str.contains('Inaugural_Address')].reset_index(drop = True)
speech.columns = ['links']

In [4]:
# Function to get president name from links + receiving full link for speeches
def frag(x):
    wh = x[6:x.find('%')].replace('_',' ')
    return wh
speech['president'] = speech['links'].apply(frag)
speech['full_links'] = speech['links'].apply(lambda x: 'https://en.wikisource.org' + x)
speech[['president','links','full_links']].head()

           president  ...                                         full_links
0  George Washington  ...  https://en.wikisource.org/wiki/George_Washingt...
1  George Washington  ...  https://en.wikisource.org/wiki/George_Washingt...
2         John Adams  ...  https://en.wikisource.org/wiki/John_Adams%27_I...
3   Thomas Jefferson  ...  https://en.wikisource.org/wiki/Thomas_Jefferso...
4   Thomas Jefferson  ...  https://en.wikisource.org/wiki/Thomas_Jefferso...

[5 rows x 3 columns]

In [0]:
plain_text = []

#for each in range(len(speech)-3,len(speech)):
for each in range(len(speech)):
    
    html = requests.get(speech.full_links.loc[each]).content
    sel = Selector (text = html)
    xpath3 = '//*[@class="mw-parser-output"]//p//text()'
    # Extract text from website + join in 1string + remove unwanted text and new lines
    text = ''.join(sel.xpath(xpath3).extract()).replace('\nThis work is in the public domain in the United States because it is a work of the United States federal government (see 17\xa0U.S.C.\xa0105).\n','')\
.replace('\n',' ')
    text_lines = ''.join(sel.xpath(xpath3).extract()).replace('\nThis work is in the public domain in the United States because it is a work of the United States federal government (see 17\xa0U.S.C.\xa0105).\n','')
    plain_text.append(text)

In [0]:
def hm_words(x):
    words = len(x.split())
    return words

def hm_ch_words(x):
    words_ch = round(np.mean([len(x) for x in x.split()]),2)
    return words_ch

def n_sentences(x):
    sent = len(x.split('.'))
    return sent

In [7]:
speeches = pd.DataFrame(plain_text, columns = ['speeches'])
speeches['characters'] = speeches.speeches.apply(len)
speeches['words'] = speeches.speeches.apply(hm_words)
speeches['ch_in_words'] = speeches.speeches.apply(hm_ch_words)
speeches['sentences'] = speeches.speeches.apply(n_sentences)

speeches['ch_in_sent'] = round(speeches['characters'] / speeches['sentences'],1)
speeches = pd.concat([speech['president'],speeches.iloc[:,1:]], axis = 1)
speeches['n'] = speeches.groupby('president').cumcount() + 1
speeches.tail(5)

         president  characters  words  ch_in_words  sentences  ch_in_sent  n
53  George W. Bush        9005   1586         4.68         84       107.2  1
54  George W. Bush       11918   2083         4.72        104       114.6  2
55    Barack Obama       13140   2328         4.64        109       120.6  1
56    Barack Obama       11954   2114         4.65         86       139.0  2
57    Donald Trump        8413   1456         4.78         96        87.6  1

In [8]:
double = speeches[speeches['n'] == 2].president
double_stats = speeches[(speeches['president'].isin(double))&speeches['n'].isin([1,2])].groupby('n').agg({'words':['mean','std'],'sentences':['mean','std'],\
                                                                                           'ch_in_sent':['mean','std'],'characters':['mean','std'],\
                                                                                           'ch_in_words':['mean','std']}).round(1).T
double_stats['diff'] = double_stats[2]-double_stats[1]
double_stats

n                       1        2    diff
words       mean   2084.3   1827.1  -257.2
            std     881.8    912.6    30.8
sentences   mean     80.4     71.4    -9.0
            std      40.5     37.3    -3.2
ch_in_sent  mean    177.6    161.5   -16.1
            std      76.5     55.7   -20.8
characters  mean  12090.0  10595.5 -1494.5
            std    5200.0   5385.9   185.9
ch_in_words mean      4.8      4.8     0.0
            std       0.2      0.2     0.0

In [32]:
double_stats2 = speeches[(speeches['president'].isin(double))&speeches['n'].isin([1,2])].groupby('n').agg({'words':['median','std'],'sentences':['median','std'],\
                                                                                           'ch_in_sent':['median','std'],'characters':['median','std'],\
                                                                                           'ch_in_words':['median','std']}).round(1).T
double_stats2['diff'] = double_stats2[2]-double_stats2[1]
double_pres = speeches[(speeches['president'].isin(double))&speeches['n'].isin([1,2])]
double_stats2

n                         1        2   diff
words       median   1718.0   1800.0   82.0
            std       881.8    912.6   30.8
sentences   median     87.0     70.0  -17.0
            std        40.5     37.3   -3.2
ch_in_sent  median    161.8    139.4  -22.4
            std        76.5     55.7  -20.8
characters  median  10120.0  10582.0  462.0
            std      5200.0   5385.9  185.9
ch_in_words median      4.8      4.8    0.0
            std         0.2      0.2    0.0

In [10]:
speeches.groupby(['president']).median().sort_values('words', ascending = False).head()

                        characters   words  ...  ch_in_sent    n
president                                   ...
William Henry Harrison     49652.0  8424.0  ...       233.1  1.0
William Howard Taft        32119.0  5428.0  ...       199.5  1.0
James K. Polk              28695.0  4793.0  ...       195.2  1.0
Benjamin Harrison          26195.0  4392.0  ...       171.2  1.0
Calvin Coolidge            23946.0  4056.0  ...       121.6  1.0

[5 rows x 6 columns]

In [57]:
double_pres[['president','characters','n']].pivot(index='president',columns='n')

                   characters
n                           1      2
president
Abraham Lincoln         22133   4019
Andrew Jackson           6799   7044
Barack Obama            13140  11954
Bill Clinton             9014  12168
Dwight Eisenhower       13864   9102
Franklin Roosevelt      10987  10582
George W. Bush           9005  11918
George Washington        8678    786
Grover Cleveland        10120  12325
James Madison            6988   7146
James Monroe            19827  26298
Richard Nixon           11490   9892
Ronald Reagan           13712  14496
Thomas Jefferson        10120  12902
Ulysses S. Grant         6474   7708
William McKinley        23626  13416
Woodrow Wilson           9553   8367

In [0]:
## 1 next steps: create Lolipop for Presidents double (sentences, words ) median
## 2 next steps: dodaj rok do mów inauguracyjnych                                                 ###done

### 4 next step: zmierz podobienstwo między prezydentami....
### 5 next step: analiza sentymentu (pozytywne negatywne)

In [0]:
html = requests.get('https://en.wikisource.org/wiki/Portal:Inaugural_Speeches_by_United_States_Presidents').content
sel = Selector (text = html)
xpath3 = '//*[@class="mw-parser-output"]//ul//li//a/text()'
    # Extract text from website + join in 1string + remove unwanted text and new lines
text = sel.xpath(xpath3).extract()

In [31]:
years = pd.DataFrame([int(t) for t in text if len(t)==4])
speeches_y = pd.concat([speeches,years], axis = 1)

                 president  characters   words  ...  ch_in_sent    n     0
0        George Washington      8678.0  1440.0  ...       333.8  1.0  1789
1        George Washington       786.0   135.0  ...       157.2  2.0  1793
2               John Adams     13862.0  2317.0  ...       407.7  1.0  1797
3         Thomas Jefferson     10120.0  1718.0  ...       266.3  1.0  1801
4         Thomas Jefferson     12902.0  2157.0  ...       307.2  2.0  1805
5            James Madison      6988.0  1173.0  ...       317.6  1.0  1809
6            James Madison      7146.0  1210.0  ...       223.3  2.0  1813
7             James Monroe     19827.0  3363.0  ...       180.2  1.0  1817
8             James Monroe     26298.0  4460.0  ...       200.7  2.0  1821
9        John Quincy Adams     17717.0  2909.0  ...       242.7  1.0  1825
10          Andrew Jackson      6799.0  1124.0  ...       261.5  1.0  1829
11          Andrew Jackson      7044.0  1171.0  ...       227.2  2.0  1833
12        Martin Van Buren     23380.0  3827.0  ...       259.8  1.0  1837
13  William Henry Harrison     49652.0  8424.0  ...       233.1  1.0  1841
14           James K. Polk     28695.0  4793.0  ...       195.2  1.0  1845
15          Zachary Taylor      6593.0  1087.0  ...       286.7  1.0  1849
16         Franklin Pierce     20051.0  3328.0  ...       196.6  1.0  1853
17          James Buchanan     16805.0  2820.0  ...       191.0  1.0  1857
18         Abraham Lincoln     22133.0  3792.0  ...       163.9  1.0  1861
19         Abraham Lincoln      4019.0   704.0  ...       134.0  2.0  1865
20        Ulysses S. Grant      6474.0  1121.0  ...       161.8  1.0  1869
21        Ulysses S. Grant      7708.0  1335.0  ...       179.3  2.0  1873
22     Rutherford B. Hayes     14888.0  2471.0  ...       248.1  1.0  1877
23       James A. Garfield     17858.0  2996.0  ...       159.4  1.0  1881
24        Grover Cleveland     10120.0  1679.0  ...       224.9  1.0  1885
25       Benjamin Harrison     26195.0  4392.0  ...       171.2  1.0  1889
26        Grover Cleveland     12325.0  2014.0  ...       208.9  2.0  1893
27        William McKinley     23626.0  3957.0  ...       180.4  1.0  1897
28        William McKinley     13416.0  2216.0  ...       136.9  2.0  1901
29      Theodore Roosevelt      5568.0   983.0  ...       163.8  1.0  1905
30     William Howard Taft     32119.0  5428.0  ...       199.5  1.0  1909
31          Woodrow Wilson      9553.0  1699.0  ...       147.0  1.0  1913
32          Woodrow Wilson      8367.0  1526.0  ...       139.4  2.0  1917
33          Warren Harding     20290.0  3326.0  ...       137.1  1.0  1921
34         Calvin Coolidge     23946.0  4056.0  ...       121.6  1.0  1925
35          Herbert Hoover     22952.0  3749.0  ...       139.1  1.0  1929
36      Franklin Roosevelt     10987.0  1896.0  ...       126.3  1.0  1933
37      Franklin Roosevelt     10582.0  1800.0  ...       117.6  2.0  1937
38      Franklin Roosevelt      7472.0  1318.0  ...        99.6  3.0  1941
39      Franklin Roosevelt      2984.0   546.0  ...        99.5  4.0  1945
40         Harry S. Truman     13586.0  2266.0  ...       114.2  1.0  1949
41       Dwight Eisenhower     13864.0  2441.0  ...       118.5  1.0  1953
42       Dwight Eisenhower      9102.0  1632.0  ...        93.8  2.0  1957
43            John Kennedy      7526.0  1355.0  ...       134.4  1.0  1961
44          Lyndon Johnson      8030.0  1464.0  ...        87.3  1.0  1965
45           Richard Nixon     11490.0  2104.0  ...       108.4  1.0  1969
46           Richard Nixon      9892.0  1786.0  ...       141.3  2.0  1973
47            Jimmy Carter      6819.0  1223.0  ...       128.7  1.0  1974
48           Ronald Reagan     13712.0  2428.0  ...       104.7  1.0  1977
49           Ronald Reagan     14496.0  2554.0  ...       115.0  2.0  1981
50       George H. W. Bush     12470.0  2310.0  ...        87.2  1.0  1985
51            Bill Clinton      9014.0  1584.0  ...        95.9  1.0  1989
52            Bill Clinton     12168.0  2164.0  ...       110.6  2.0  1993
53          George W. Bush      9005.0  1586.0  ...       107.2  1.0  1997
54          George W. Bush     11918.0  2083.0  ...       114.6  2.0  2001
55            Barack Obama     13140.0  2328.0  ...       120.6  1.0  2005
56            Barack Obama     11954.0  2114.0  ...       139.0  2.0  2009
57            Donald Trump      8413.0  1456.0  ...        87.6  1.0  2013
58                     NaN         NaN     NaN  ...         NaN  NaN  2017

[59 rows x 8 columns]